@import "../../assets/scss/main.scss";

.xp{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 10rem 0 15rem 0;
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: fit-content;
        height: 100%;
        padding: 0 3rem;
        & h2{
            font-size: 3rem;
            font-weight: 700;
            color: white;
            margin-bottom: 3rem;
            text-align: center;
            & svg{
                font-size: 3rem;
            }
        }
    }
    &-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-item{
        width: 100%;
        max-width: 50rem;
        border-left: .1rem solid white;
        margin: 2rem 0;
        padding-left: 3rem;

        & h2{
            font-size: 2.5rem;
            color: white;
            margin: 0;
            text-align: left;
        }
        &__header{
            display: flex;
            flex-direction: column;
            & a{
                font-size: 2rem;
            }
            & span{
                font-size: 1.7rem;
                color: white;
            }
        }
        &__body{
            & ul{
                list-style: square;
                margin-top: 4rem;
                padding: 0 2rem;
                & li{
                    color: white;
                    font-size: 1.7rem;
                    line-height: 2.7rem;
                    margin: 2rem 0;
                }
            }
        }
    }
}

@include bp-tab-md{
    .xp{
        &-item{
            border: none;
            margin: 2rem 3rem;
        }
    }
}

@include bp-lap{
    .xp{
        &-box{
            flex-direction: row;
        }
        &-item{
            margin: 3rem;
        }
    }
}