@import "../../assets/scss/main";

.appbar{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 100;
    &-item{
        display: grid;
        place-items: center;
        width: 100%;
    }
    & svg{
        font-size: 3rem;
        color: white;
    }
}