@import "../../assets/scss/main.scss";

.pf {
  display: flex;
  justify-content: center;
  align-items: center;
  &-container {
    width: 29rem;
  }
}

@include bp-tab {
  .pf {
    &-container {
      width: 45rem;
    }
  }
}

@include bp-tab {
  .pf {
    text-align: center;
    &-container {
      width: 120rem;
    }
  }
}
